
//Info-Sala 
.descripcion-sala{
    display: flex;
}

.box-izq-sala{
    display: flex;
    flex-direction: column;
    width: 50vw;
    padding-left: 3rem;
    padding-right: 3rem;
    height:25rem;
}

.box-der-sala{
    display: flex;
    flex-direction: column;
    padding-right: 3rem;
    width: 50vw;
}
.contenedor-texto{
    display: flex;
    flex-direction: column;
    overflow: scroll;
    height:fit-content;

}
.contenedor-texto p{
    display: flex;
    padding-bottom: 1rem;
}

.img-sala{
    border-radius: 16px;
}

.titulo-descarga{
display: flex;
justify-content: center;
padding-top: 3rem;
padding-bottom: 2rem;
}
 
.contenedor-descarga{
    display: flex;
    justify-content: space-between;
    padding-left: 4rem;
    padding-right: 4rem;
}
.boton-descarga{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2rem;
    width: 14rem;
    border-radius: 0.5rem;
    border-style: none;
    font-family: proxima-nova, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 16px;
    background-color:#A80000;
    color: white;
}

.contenedor-todo{
    display: flex;
    justify-content: center;
    padding: 2rem;
}
.boton-todo{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2rem;
    width: 14rem;
    border-radius: 0.5rem;
    border-style: none;
    font-family: proxima-nova, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 16px;
    background-color:#A80000;
    color: white;;
}

.titulo-plano{
    display: flex;
    justify-content: center;
    padding-top: 2rem;
    padding-bottom: 2rem;   
}

.contenedor-plano{
    display: flex;
    justify-content: center;
}
.plano{
    display: flex;
    width: 60%;
    border-radius: 1rem;
}