@use "../variables" as v;

// Modificacion del Scrollbar (el original es muy grueso)
.descripcion-teatro {
  scrollbar-width: thin;

  scrollbar-color: #ccc transparent;
  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #bbb;
    border-radius: 4px;

    &:hover {
      background-color: #999;
    }
  }
}


.boton-descarga {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  padding: 0.5rem;
  border-radius: 1rem;
  border: none;
  font-weight: 600;
  font-size: clamp(0.75rem, 2.5vw, 1rem);
  text-transform: uppercase;
  background-color: v.$color-principal;
  color: white;
  cursor: pointer;
  text-decoration: none;
  white-space: normal;
  transition: background-color 0.3s ease,box-shadow 0.3s ease;

  &:hover {
  background-color: v.$boton-hover-bg;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.15);
  color: white;
  }
}

