
//Talleres
.texto-talleres-enfasis, .icono-talleres{
    color: #A80000;
}

.wsp-talleres a {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  text-decoration: none;
  color: rgb(0, 0, 0);
  transition: color 0.3s, transform 0.3s;
}

.wsp-talleres a:hover {
  color: #25D366;
}

/* Formulario*/
.form-control {
  border-radius: 1rem;
}

.form-control:focus {
  border-color: #A80000;
  box-shadow: 0 0 4px 0 rgba(168, 0, 0, 0.2);
  outline: none; 
}

.contenedor-archivo{
  display: flex;
  justify-content: start;
  align-items: center;
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: 1rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.contenedor-archivo:focus-within {
  border-color: #A80000;
  box-shadow: 0 0 4px 0 rgba(168, 0, 0, 0.2);
  outline: none;
}
.input-file-hidden {
    display: none;
}

  /* Botón personalizado */
.custom-upload-btn {
    background-color: #A80000;
    color: white;
    border: none;
    border-radius: 1rem 0rem 0rem 1rem;
    padding: 16px 16px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.custom-upload-btn:hover {
    background-color: #8A0000;
}

.file-name {
    margin-left: 16px;
    color:#6c757d;
}

.boton-enviar {
  border-radius: 1rem;
  width: 100%;
  border: none;
  padding: 16px 12px;
  text-transform: uppercase;
  background-color: #A80000;
  color: white;
  cursor: pointer;
  text-decoration: none;
  white-space: normal;
}

.boton-enviar:hover {
  background-color: #8A0000;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.15);
}

