@use "../variables" as v;

//Talleres
.texto-talleres-enfasis, .icono-talleres{
    color: v.$color-principal;
}

.espaciado-titulo{
  letter-spacing: 0.04em;
}

.wsp-talleres a {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  text-decoration: none;
  color: black;
  transition: color 0.3s ease,
}

.wsp-talleres a:hover {
  color: #107c41;
}

/* Formulario*/

.estilos-form {
  border-radius: 1rem;

  &:focus {
  border-color: v.$color-principal;
  box-shadow: 0 0 4px 0 rgba(168, 0, 0, 0.2);
  outline: none; 
  }
}

.contenedor-archivo{
  display: flex;
  justify-content: start;
  align-items: center;
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: 1rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

  &:focus-within {
  border-color: v.$color-principal;
  box-shadow: 0 0 4px 0 rgba(168, 0, 0, 0.2);
  outline: none;
  }
}

.boton-enviar {
  border-radius: 1rem;
  width: 100%;
  height: 40px;
  border: none;
  background-color: v.$color-principal;
  color: white;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
  display: flex;
  align-items: center;  
  justify-content: center;
  padding: 0;
  white-space: normal;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;

  &:hover {
  background-color: v.$boton-hover-bg;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.15);
  }
}




