a{
    text-decoration: none;
    color: inherit;

&:visited{
    color: inherit;
}

&:hover{
    color: #A80000;
}
}

iframe{
    border: none;            
    border-radius: 1rem;     
    overflow: hidden;        
}

.titulo{
    display: flex;
    justify-content: center;
    padding-bottom: 2rem; 
    font-weight: 600;
    font-size: 2rem;
}
