a{
    text-decoration: none;
    color: inherit;

&:visited{
    color: inherit;
}

&:hover{
    color: #A80000;
}
}

iframe{
    border: none;            
    border-radius: 1rem;     
    overflow: hidden;
    box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.2);        
}

.titulo{
    display: flex;
    justify-content: center;
    padding-bottom: 2rem; 
    font-weight: 600;
    font-size: 2rem;
}
