@use "./variables" as v;

.logo-teatro{
  width: auto;
}

.boton_activo{
  color: v.$color-principal;
  font-weight: 700;
}

.estilos-navbar {

  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.12);

  .estilos-enlaces {

    &::after {
      display: none;
    }

    &:hover,
    &:focus,
    &.show {
      color: v.$color-principal;
    }
  }
}

.estilos-dropdown {
  color: #212529a6;
  font-weight: 600;

  &:hover,
  &:focus,
  &:active {
    color: v.$color-principal;
    background-color: transparent;
  }
}

.estilos-menu-hamburguesa{
  border: 1px solid transparent;
  transition: all 0.3s ease;

  &:hover{
  border: 1px solid rgba(154, 154, 154, 0.15);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.08);
  }

  &:focus{
    box-shadow: none;
  }
}



